<div style="width: 30%; padding: 4rem">
  <div class="card card--primary">
    <header class="card__header">Card Title</header>
    <div class="card__body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, suscipit
      dolorum. Officiis recusandae nam tempora facere, alias nesciunt cumque
      dolore debitis praesentium, magni quo tenetur, vitae repudiandae dolor
      accusamus nobis!
    </div>
  </div>
  <div class="card card--secondary">
    <header class="card__header">Card Title</header>
    <div class="card__body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, suscipit
      dolorum. Officiis recusandae nam tempora facere, alias nesciunt cumque
      dolore debitis praesentium, magni quo tenetur, vitae repudiandae dolor
      accusamus nobis!
    </div>
  </div>
</div>
