<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h3 class="collapsible__heading">Products</h3>
    <img
      src="images/chevron.svg"
      alt=""
      class="icon icon--white icon__chevron collapsible__chevron"
    />
    <!-- <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#chevron"></use>
      </svg> -->
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita deserunt
    illo sunt beatae! Quisquam beatae earum, nostrum similique id modi maiores
    amet numquam reiciendis repellat ex magnam possimus doloremque quibusdam.
  </div>
</div>
<script src="js/main.js"></script>
